@import url(//fonts.googleapis.com/css2?family=Lato&display=swap);
@import url(//unpkg.com/modern-normalize@0.7.0/modern-normalize.css);

:root {
  --color-background: #000;
  --color-canvas: #333;
  --color-primary: #f5f5f5;
  --color-accent: #ec407a;
  --color-success: green;
  --color-error: red;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-primary);
  height: 100vh;
  max-width: 1140px;
  text-rendering: optimizeLegibility;
}

div.router-view {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-accent);
}

section {
  background-color: var(--color-canvas);
  border-width: 0;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-left: 0.5rem solid var(--color-accent);
}

ul {
  list-style-type: none;
  padding: 0;
}

.text-success {
  color: var(--color-success);
}

.text-error {
  color: var(--color-error);
}

nav {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: var(--color-canvas);
  width: 5rem;
  height: 100vh;
}

nav button {
  padding: 0.5rem;
  background-color: var(--color-accent);
  border-radius: 0.5rem;
  color: inherit;
  border: none;
  cursor: pointer;
}

a,
a:link,
a:visited {
  color: var(--color-accent);
  text-decoration: none;
  font-size: 1.2rem;
  transition: 350ms color;
}

a:hover,
a:active {
  color: var(--color-primary);
}

.position-relative {
  position: relative;
}

tag {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

td:first-child {
  padding-right: 2rem;
}
