@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --color-background: #000;
  --color-canvas: #111;
  --color-primary: #f5f5f5;
  --color-accent: #ec407a;
  --color-error: red;
}

html {
  font-family: "Nunito", sans-serif;
}

body {
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-primary);
  height: 100vh;
  max-width: 1140px;
  text-rendering: optimizeLegibility;
}

div.router-view {
  display: flex;
  position: relative;
}

section {
  background-color: var(--color-canvas);
  border-width: 0;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-left: 0.5rem solid var(--color-accent);
  display: flex;
  flex-direction: column;
}

.text-error {
  color: var(--color-error);
}

button {
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--color-accent);
  border-radius: 0.5rem;
  color: inherit;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.position-relative {
  position: relative;
}

tag {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: var(--color-accent);
  color: var(--color-primary);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

td:first-child {
  padding-right: 2rem;
}

p {
  margin: 2rem;
}

.right {
  display: flex;
  justify-content: right;
}

table {
  margin-bottom: 1rem;
}
